.dialog-area {
  position: relative;
}

.mask {
  width: 100vw;
  height: 100vh;
  background-color: #f0f8ff33;
}

.mask-on-dialog {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.dialog-panel {
  box-sizing: border-box;
  pointer-events: auto;
  position: absolute;
  top: calc((100% - 350px) / 2);
  left: calc((100% - 450px) / 2);
  height: 300px;
  width: 450px;
  border-radius: 25px;
  background-color: gray;
  padding: 16px;
}

.current-path {
  height: 50px;
  display: flex;
  align-items: center;
}

.folder-name-input {
  height: 50px;
  display: flex;
  align-items: center;
}

.btn-panel-line {
  display: flex;
}

.spacer {
  flex: 1;
}

.submit-btn {
  /* margin-right: 16px; */
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  background-color: blueviolet;
}