.ope-main-block {
  padding: 16px;
}

.path-block {
  display: flex;
}

.current-path-string {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 16px 0 16px
}

.link-open-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ope-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}